<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Key Counter</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<h1 id="instruction">Press 'Enter' to start the timer</h1>
<div id="counter">Counter: 0</div>
<h2 id="timerDisplay">Time: 30</h2>
<button onclick="redirectToLeaderboard()">Check Leaderboard</button>

<script>
  let counter = 0;
  let timer=30;
  let currentKey;

  const instruction = document.getElementById('instruction');
  const counterDisplay = document.getElementById('counter');
  const body = document.body;


    document.addEventListener('keydown', function(event) {

      if(event.key === 'Enter' && timer === 30) {
        startGame();

      }else if (event.key === currentKey) {
        counter++;
        counterDisplay.textContent = `Counter: ${counter}`;

        currentKey = generateRandomKey();
        instruction.textContent = `Press '${currentKey}' to increase the counter`;
      }
    });

  function generateRandomKey() {
    return String.fromCharCode(97 + Math.floor(Math.random() * 26)); // A-Z
  }

  function startGame() {
    counter=0;
    currentKey = generateRandomKey();
    instruction.textContent = `Press '${currentKey}' to increase the counter`;

    timerInterval = setInterval(function() {
      timer--;
      timerDisplay.textContent = `Time: ${timer}`;
      if(timer === 0) endGame();
    }, 1000);

  }

 function endGame() {
      clearInterval(timerInterval);

      // Add this part to send the score to the server
      const username = prompt('Enter your username:');
      fetch('/submit_score', {
         method: 'POST',
         headers: {
            'Content-Type': 'application/json',
         },
         body: JSON.stringify({
            username: username,
            score: counter,
         }),
      })
      .then(response => response.json())
      .then(data => {
         console.log(data.message);
         instruction.textContent = `Time's up! Your score is ${counter}. Try again? Press 'Enter' to start`;
         currentKey = null;
         counter = 0;
         timer = 30;
         timerDisplay.textContent = "Time: 30";
         counterDisplay.textContent = 'Counter: 0';
      });
   }

  function redirectToLeaderboard() {
    window.location.href = "/leaderboard";
  }
</script>

</body>
</html>
